body {
    width: 100%;
    height: auto;
    background-color: #0d47a1;
    font-family: 'Satisfy', cursive;
    -webkit-font-smoothing: antialiased;
}


/*#0d47a1,*/


/*#0d47a1 10px,*/


/*#0b4196 10px,*/

.header {
    text-align: center;
    color: black;
    width: 100%;
    height: auto;
}

.home {
    text-align: center;
    color: black;
    width: 100%;
    height: auto;
}

.login {
    text-align: center;
    color: whitesmoke;
    width: 100%;
    height: auto;
}

.Mitigation {
    text-align: center;
    color: black;
    width: 100%;
    height: auto;
}

.landing-page {
    text-align: center;
    color: whitesmoke;
    width: 100%;
    height: auto;
}