<div class="container text-center">
    <br>
    <div class="text-right">
        <ul class="social-icons">
            <li class="social-links"><a id="links" href=""><i class="fa fa-facebook"  aria-hidden="true"></i></a></li>
            <li class="social-links"><a id="links" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="social-links"><a id="links" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li class="social-links">
                <a id="links" href="https://github.com/JonathanLongden/basic"> <i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
        </ul>
        <button class="btn btn-primary" ng-click="signOut()" id="logout" ui-sref="landingPage">Logout</button>
    </div>
    <br>
    <div class="test">
        <!-- <button class="btn btn-warning" ng-href="/qasubmittal" id="Submit Quality RiskCard" ui-sref="qasubmittal">Submit Quality RiskCard</button>
        <br> -->
        <button ng-click="$location.path('#/qasubmittal.html')">locatpath<button>
            <br>
        <button type="button" ui-sref-active="current" ui-sref="qasubmittal">qasubmittal</button>
        <br>
        <a href="/qasubmittal-page">Go to another page</a>
    </div>
    <br>
    <!-- <div class="map" id="map">
    </div> -->
</div>