<div class="container text-center" ng-controller="mainCtrl">
    <br>
    <div class="text-right">
        <ul class="social-icons">
            <li class="social-links"><a id="links" href=""><i class="fa fa-facebook"  aria-hidden="true"></i></a></li>
            <li class="social-links"><a id="links" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="social-links"><a id="links" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li class="social-links">
                <a id="links" href="https://github.com/JonathanLongden/basic"> <i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
        </ul>
        <button class="btn btn-primary" ng-click="signOut()" id="logout" ui-sref="landingPage">Logout</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="cards">
        <row>
            <div class="col-sm-5 col-sm-offset-0">
                <button class="btn btn-warning" href="/qasubmittal" id="SubmitQualityRiskCard" ui-sref="qasubmittal ">Submit Quality RiskCard</button>
            </div>
            <div class="col-sm-6 col-sm-offset-5">
                <button class="btn btn-warning" href="/mitgration" id="MitigationDiscussionandDirections" ui-sref="mitgration ">Submit Mitigation Discussion and Directions</button>
            </div>
        </row>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="summary">
        <row>
            <div class="col-sm-6 col-sm-offset-3">
                <button class="btn btn-warning" href="/summary" id="summary" ui-sref="summary ">View Summary of Reports</button>
            </div>
        </row>
    </div>
    <br>
</div>