<div class="container text-center" ng-controller="mainCtrl">
    <br>
    <div class="text-right">
        <ul class="social-icons">
            <div ng-controller="myCtrl">
                <button ng-click="myFunc()">OK</button>
                <p>The button has been clicked {{count}} times.</p>
            </div>
            <!-- <li class="social-links"><a id="links" href=""><i class="fa fa-facebook"  aria-hidden="true"></i></a></li>
            <li class="social-links"><a id="links" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="social-links"><a id="links" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
            <li class="social-links">
                <a id="links" href="https://github.com/JonathanLongden/basic"> <i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
        </ul>
        <button class="btn btn-primary" ng-click="signOut()" id="logout" ui-sref="landingPage">Logout</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <center>
        <div class="cards">
            <div class="form-group row">
                <row>
                    <div class="col-sm-6">
                        <button class="btn btn-warning" href="/qasubmittal" id="SubmitQualityRiskCard" ui-sref="qasubmittal ">Submit Quality RiskCard</button>
                    </div>
                </row>
            </div>
            <div class="form-group row">
                <row>
                    <div class="col-sm-6">
                        <button class="btn btn-warning" href="/mitigation" id="MitigationDiscussionandDirections" ui-sref="mitigation ">Submit Mitigation Discussion and Directions</button>
                    </div>
                </row>
            </div>
            <div class="summary">
                <div class="form-group row">
                    <row>
                        <div class="col-sm-6">
                            <button class="btn btn-warning" href="/summary" id="summary" ui-sref="summary ">View Summary of Reports</button>
                        </div>
                    </row>
                </div>
            </div>
        </div>
    </center>
    <br>
</div>