<div class="home container text-center" ng-controller="graphicCtrl">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h1>Your Risk Cards Submitted</h1>
            <div class="content-list " ng-repeat="card in MyCards track by $index ">
                <h4 id="sale-list-content ">{{card.riskObservationDate | date}}</h4>
                <h4 id="sale-list-content ">{{card.riskCategory | uppercase}}</h4>
                <h4 id="sale-list-content ">{{card.riskDescription | uppercase}}</h4>
                <h4 id="sale-list-content ">{{card.riskMitigration | uppercase}}</h4>
                <br>
                <button class="btn btn-primary " name="button " ng-click="deleteCard(card._id) ">Delete</button>
            </div>
        </div>
        <div class="chart-container col-md-6">
            <simple-pie-chart chart-config="pieChartConfig"></simple-pie-chart>
        </div>
    </div>
</div>