<center>
    <div class="login" ng-controller="loginCtrl">
        <h2>Login</h2>

        <form ng-submit="postLogin(loginEmail, secret)" ng-controller="loginCtrl">
            <row>
                <div class="col-sm-6 col-sm-offset-3">
                    <input class="form-control" type="email" ng-model="loginEmail" placeholder=Email>
                    <input class="form-control" type="password" ng-model="secret" placeholder="Password">
                    <button class="btn btn-warning" id="login" type="submit" name="button"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </row>
        </form>
        <h3 id="wrongLogin" ng-hide=wrongCred>Incorrect Email/Password Combination</h3>
    </div>
</center>
<br>
<br>
<br>
<br>
<center>
    <div class="home" ng-controller="mainCtrl">
        <br>
        <center>
            <h1 id="welcome"> Submittal of a Quality Risk Card </h1>
        </center>
        <br>
        <br>
        <form ng-submit="qaCard(mmddyyyy, person, category, description, mitigration)" ng-controller="mainCtrl">
            <row>
                <div class="col-sm-5 col-sm-offset-0">
                    <label for="RiskObservationDate">Risk Observation Date: </label>
                    <input class="form-control" type="Date" ng-model="mmddyyyy" class="angular-datepicker-input" placeholder="mm/dd/yyyy ">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <label for="RiskReportedBy " for='RiskReportedBy'>Risk Reported By:</label>
                    <input class="form-control " type="text " ng-model="person " placeholder="Name ">
                </div>
            </row>
            <br>
            <br>
            <br>
            <row>
                <div class="col-sm-5 col-sm-offset-0">
                    <BR>
                    <label for="RiskCategory ">Risk Category:</label>
                    <select name="RiskCategory " id="RiskCategory " ng-model="category.model ">
      		<option ng-repeat="option in category.availableOptions " value="{{option.name}} ">{{option.name}}</option>
		            </select>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <label for="RiskDescription ">Risk Description:</label>
                    <input class="form-control " type="text " ng-model="description " placeholder="Write a Description ">
                </div>
            </row>
            <br>
            <br>
            <br>
            <row>
                <div class="col-sm-6 col-sm-offset-3">
                    <label for="SuggestedRiskMitigrationMeasure ">Suggested Risk Mitigration Measure:</label>
                    <input class="form-control " type="text " ng-model="mitigration " placeholder="Write a Risk Mitgration Measure ">
                </div>
            </row>
            <br>
            <br>
            <br>
            <row>
                <center>
                    <button class="btn btn-warning " id="login " type="submit " name="button "><i class="fa fa-arrow-right " aria-hidden="true "></i></button>
                </center>
            </row>
        </form>
    </div>
</center>
<br>
<br>
<br>
<center>
    <div class="home" ng-controller="mainCtrl">
        <br>
        <center>
            <h1 id="welcome">Quality Risk Mitigation Discussion and Directions</h1>
        </center>
        <br>
        <br>
        <form ng-submit="qaCardMitgration(mmddyyyy, person, description, mitigration)" ng-controller="mainCtrl">
            <row>
                <div class="col-sm-5 col-sm-offset-0">
                    <label for="DiscussionDate">Discussion Date:</label>
                    <input class="form-control" type="Date" ng-model="mmddyyyy" class="angular-datepicker-input" placeholder="mm/dd/yyyy ">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <label for="MemberPresent " for='MemberPresent'>Team Member Presents:</label>
                    <input class="form-control " type="text " ng-model="person " placeholder="Name ">
                </div>
            </row>
            <br>
            <br>
            <br>
            <row>
                <div class="col-sm-5 col-sm-offset-0">
                    <BR>
                    <label for="DiscussionHighlights">Team Discussion Highlights:</label>
                    <input class="form-control " type="text " ng-model="description " placeholder="What is the Teams Discussion Highlights?">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <label for="MitigrationDirections">Mitigration Directions:</label>
                    <input class="form-control " type="text " ng-model="mitigration " placeholder="Mitigration Directions?">
                </div>
            </row>
            <br>
            <br>
            <br>
            <row>
                <br>
                <br>
                <br>
                <div class="col-sm-6 col-sm-offset-3">
                    <center>
                        <button class="btn btn-warning " id="login " type="submit " name="button "><i class="fa fa-arrow-right " aria-hidden="true "></i></button>
                    </center>
                </div>
            </row>
        </form>
    </div>
</center>
<br>
<br>
<br>
<center>
    <div class="home" ng-controller="mainCtrl">
        <br>
        <center>
            <h1 id="welcome">Summary of Cases</h1>
        </center>
        <br>
        <br>
        <p>How would you like to sort through this data</p>
    </div>
</center>