<div class="home" ng-controller="mainCtrl">
    <br>
    <h1 id="welcome"> Submittal of a Quality Risk Card </h1>
    <br>
    <br>
    <form ng-submit="qaCard(mmddyyyy, person, category, description, mitigration)" ng-controller="mainCtrl">
        <row>
            <div class="col-sm-5 col-sm-offset-0">
                <label for="RiskObservationDate">Risk Observation Date: </label>
                <input class="form-control" type="Date" ng-model="mmddyyyy" class="angular-datepicker-input" placeholder="mm/dd/yyyy ">
            </div>
            <div class="col-sm-5 col-sm-offset-1 ">
                <label for="RiskReportedBy " for='RiskReportedBy'>Risk Reported By:</label>
                <input class="form-control " type="text " ng-model="person " placeholder="Name ">
            </div>
        </row>
        <br>
        <br>
        <br>
        <row>
            <div class="col-sm-5 col-sm-offset-0 ">
                <BR>
                <label for="RiskCategory ">Risk Category:</label>
                <select name="RiskCategory " id="RiskCategory " ng-model="category.model ">
      		<option ng-repeat="option in category.availableOptions " value="{{option.name}} ">{{option.name}}</option>
		            </select>
            </div>
            <div class="col-sm-5 col-sm-offset-1 ">
                <label for="RiskDescription ">Risk Description:</label>
                <input class="form-control " type="text " ng-model="description " placeholder="Write a Description ">
            </div>
        </row>
        <br>
        <br>
        <br>
        <row>
            <div class="col-sm-6 col-sm-offset-3 ">
                <label for="SuggestedRiskMitigrationMeasure ">Suggested Risk Mitigration Measure:</label>
                <input class="form-control " type="text " ng-model="mitigration " placeholder="Write a Risk Mitgration Measure ">
            </div>
        </row>
        <br>
        <br>
        <br>
        <row>
            <center>
                <button class="btn btn-warning " id="login " type="submit " name="button "><i class="fa fa-arrow-right " aria-hidden="true "></i></button>
            </center>
        </row>
    </form>
</div>