<div class="landing-page">
    <br>
    <img id="yardImg" src="./../image/trec-image.svg" alt="" />
    <div class="container">
        <br>
        <row>
            <div class="col-sm-6 col-sm-offset-3">
                <center>
                    <login-directive></login-directive>
                </center>
            </div>
        </row>
        <br>
        <br>
        <br>
        <row>
            <div class="col-sm-6 col-sm-offset-3">
                <center>
                    <signup-directive></signup-directive>
                </center>
            </div>
        </row>
    </div>

</div>