<div class="landing-page">
    <br>
    <!-- <img id="yardImg" src="./../images/yardsailr-logo.svg" alt="" /> -->
    <h1 id="welcome">Welcome to Quality Control Forms</h1>
    <div class="container">
        <row>
            <div class="col-sm-6 col-sm-offset-3">
                <center>
                    <login-directive></login-directive>
                </center>
            </div>
        </row>
        <br>
        <br>
        <br>
        <row>
            <div class="col-sm-6 col-sm-offset-3">
                <center>
                    <signup-directive></signup-directive>
                </center>
            </div>
        </row>
    </div>

</div>