<div class="login" ng-controller="loginCtrl">
    <center>
        <h2>Login</h2>
    </center>
    <form ng-submit="postLogin(loginEmail, secret)" ng-controller="loginCtrl">
        <row>
            <h1 ng-show="CorrectLogin">Please user your Professional Email from the Company!</h1>
        </row>
        <row>
            <div class="col-sm-6 col-sm-offset-3">
                <input class="form-control" type="email" ng-model="loginEmail" placeholder=Email>
                <input class="form-control" type="password" ng-model="secret" placeholder="Password">
                <button class="btn btn-warning" id="login" type="submit" name="button"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
        </row>
        <br>
        <h3 id="wrongLogin" ng-hide=wrongCred>Incorrect Email/Password Combination</h3>
    </form>

</div>