<div class="login" ng-controller="loginCtrl" style="border:1px solid black">
    <h2>Login</h2>

    <form ng-submit="postLogin(loginEmail, secret)" ng-controller="loginCtrl">
        <row>
            <div class="col-sm-6 col-sm-offset-3">
                <input class="form-control" type="email" ng-model="loginEmail" placeholder=Email>
                <input class="form-control" type="password" ng-model="secret" placeholder="Password">
                <button class="btn btn-warning" id="login" type="submit" name="button"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
        </row>
    </form>
    <h3 id="wrongLogin" ng-hide=wrongCred>Incorrect Email/Password Combination</h3>
</div>