<div class="form-group row">
    <row>
        <div class="col-sm-6">
            <button class="btn btn-warning " href="/forms " id="forms " ui-sref="forms " style="color:white; ">Back to Forms</button>
        </div>
    </row>
</div>

<div class="form-group row">
    <row>
        <div class="col-sm-6">
            <button class="btn btn-warning " href="/forms " id="forms " ui-sref="forms " style="color:white; ">Back to Forms</button>
        </div>
    </row>
</div>
<div class="container text-center">
    <h2 id="create-title">Quality Risk Mitigation Discussion and Directions</h2>
    <div class="form-group">
        <center>
            <input class="form-control" id="mcard" type="date" class="angular-datepicker-input " ng-attr-placeholder="mm/dd/yyyy" ng-model=" qacard.disscussionDate ">
            <br>
            <input class="form-control " id="mcard " type="text " placeholder="Address " ng-model="card.memberPresent " ng-value="{{card.memberPresent}} " ng-attr-placeholder="{{memberPresent}} ">
            <br>
        </center>
    </div>
    <div class="add-container ">
        <textarea class="form-control " placeholder="Write Team Discussion Highlights" ng-model="card.discussionHighLights " rows="4 " cols="10 "></textarea>
    </div>
    <br>
    <br>
    <div class="add-container ">
        <textarea class="form-control " placeholder="What is the Mitigation Direction" ng-model="card.mitigrationDirection " rows="4 " cols="10 "></textarea>
    </div>
    <button class="btn btn-success " id="addButton " type="button " ng-click="postmCard(mcard) ">{{addmButton}}</button>
    <!-- <button class="btn btn-primary " id="toMap " type="button " ui-sref="map " ng-click="initMap() ">To Map</button>
    <button class="btn btn-primary " id="toSales " type="button " ng-click="getMySales() ">Your Sales</button> -->

    <!-- <center><div class="content-list " ng-repeat="sale in mySales track by $index ">
      <h4 id="sale-list-content ">{{sale.name | uppercase}}</h4>
      <h4 id="sale-list-content ">{{sale.address | uppercase}}</h4>
      <h4 id="sale-list-content ">{{sale.date | date}}</h4>
      <br>
      <button class="btn btn-primary " name="button " ng-click="deleteSale(sale._id) ">Delete</button>
    </div></center> -->
</div>