<div class="home" ng-controller="qaCtrl">
    <div class="container">
        <br>
        <center>
            <h1 style="color:white;">Submittal of a Quality Risk Card</h1>
        </center>
        <br>
        <br>
        <form ng-submit="qaCard(mmddyyyy, person, category, description, mitigration)" ng-controller="qaCtrl">
            <div class="form-group row">
                <label for="RiskObservationDate" style="color:white;" class="col-sm-2 col-form-label">Risk Observation Date: </label>
                <input class="form-control " type="Date" ng-model="mmddyyyy " class="angular-datepicker-input " placeholder="mm/dd/yyyy ">
            </div>
            <br>
            <div class="form-group row">
                <label for="RiskReportedBy " for='RiskReportedBy' style="color:white;" class="col-sm-2 col-form-label">Risk Reported By:</label>
                <input class="form-control " type="text " ng-model="person " placeholder="Name ">
            </div>
            <br>
            <div class="form-group row">
                <br>
                <label for="RiskCategory" style="color:white;" class="col-sm-2 col-form-label">Risk Category:</label>
                <select name="RiskCategory " id="RiskCategory " ng-model="category.model ">
        <option ng-repeat="option in category.availableOptions " value="{{option.name}} ">{{option.name}}</option>
                </select>
            </div>
            <br>
            <div class="form-group row">
                <label for="RiskDescription" style="color:white;" class="col-sm-2 col-form-label">Risk Description:</label>
                <textarea ng-model="description" rows="3" cols="50"></textarea>
                <!-- <label for="RiskDescription" style="color:white;">Risk Description:</label>
                <input class="form-control " type="textarea" ng-model="description " placeholder="Write a Description "> -->
            </div>
            <br>
            <br>
            <br>
            <div class="form-group row">
                <label for=" SuggestedRiskMitigrationMeasure " style="color:white; " class="col-sm-2 col-form-label ">Suggested Risk Mitigration Measure:</label>
                <div style="text-align: right; margin-left: 20px">
                    <textarea ng-model="mitigration " rows="3 " cols="50 " style="width:25%;"></textarea>

                </div>
                <!-- <textarea ng-model=" mitigration " rows="3 " cols="50 " style="width:25%;></textarea> -->
                <!-- <label for="SuggestedRiskMitigrationMeasure ">Suggested Risk Mitigration Measure:</label>
                <input class="form-control " type="text " ng-model="mitigration " placeholder="Write a Risk Mitgration Measure "> -->
            </div>
            <br>
            <br>
            <br>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10 ">
                    <label for="button " style="color:white; " class="col-sm-2 col-form-label ">Submit:</label>
                    <button class="btn btn-warning " id="login " type="submit " name="button "><i class="fa fa-arrow-right " aria-hidden="true "></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="toforms ">
    <row>
        <div class="col-sm-6 col-sm-offset-3 ">
            <button class="btn btn-warning " href="/forms " id="forms " ui-sref="forms " style="color:white; ">Back to Forms</button>
        </div>
    </row>
</div>