<div class="form-group row">
    <row>
        <div class="col-sm-6">
            <button class="btn btn-warning " href="/forms " id="forms " ui-sref="forms " style="color:white; ">Back to Forms</button>
        </div>
    </row>
</div>
<div class="container text-center">
    <h2 id="create-title">Quality Risk Card</h2>
    <div class="form-group">
        <center>
            <input class="form-control" id="card" type="date" class="angular-datepicker-input " ng-attr-placeholder="mm/dd/yyyy" ng-model=" qacard.riskObservationDate ">
            <br>
            <input class="form-control " id="card " type="text " placeholder="Address " ng-model="card.riskReportedBy " ng-value="{{card.riskReportedBy}} " ng-attr-placeholder="{{riskReportedBy}} ">
            <br>
            <select class="form-control " id="card " ng-model="card.riskCategory.model ">
            <option ng-repeat="option in riskCategory.availableOptions " value="{{option.name}} ">{{option.name}}</option>
            </select>
            <br>
        </center>
    </div>
    <div class="add-container ">
        <textarea class="form-control " placeholder="Write a description" ng-model="card.riskDescription " rows="4 " cols="10 "></textarea>
    </div>
    <br>
    <br>
    <div class="add-container ">
        <textarea class="form-control " placeholder="Wite a Mitigration Plan" ng-model="card.riskMitigration " rows="4 " cols="10 "></textarea>
    </div>
    <br>
    <br>
    <button class="btn btn-success " id="addButton " type="button " ng-click="postCard(card) ">{{addButton}}</button>
    <!-- <button class="btn btn-primary " id="toMap " type="button " ui-sref="map " ng-click="initMap() ">To Map</button>
    <button class="btn btn-primary " id="toSales " type="button " ng-click="getMySales() ">Your Sales</button> -->

    <!-- <center><div class="content-list " ng-repeat="sale in mySales track by $index ">
      <h4 id="sale-list-content ">{{sale.name | uppercase}}</h4>
      <h4 id="sale-list-content ">{{sale.address | uppercase}}</h4>
      <h4 id="sale-list-content ">{{sale.date | date}}</h4>
      <br>
      <button class="btn btn-primary " name="button " ng-click="deleteSale(sale._id) ">Delete</button>
    </div></center> -->
</div>