<div class="home" ng-controller="qaCtrl">
    <br>
    <center>
        <h1 style="color:white;">Submittal of a Quality Risk Card</h1>
    </center>
    <br>
    <br>
    <form ng-submit="qaCard(mmddyyyy, person, category, description, mitigration)" ng-controller="qaCtrl">
        <div class="form-group col-sm-5 col-sm-offset-1 ">
            <label for="RiskObservationDate" style="color:white;">Risk Observation Date: </label>
            <input class="form-control " type="Date" ng-model="mmddyyyy " class="angular-datepicker-input " placeholder="mm/dd/yyyy ">
        </div>
        <br>
        <div class="form-group col-sm-5 col-sm-offset-1 ">
            <label for="RiskReportedBy " for='RiskReportedBy' style="color:white;">Risk Reported By:</label>
            <input class="form-control " type="text " ng-model="person " placeholder="Name ">
        </div>
        <br>
        <div class="form-group col-sm-5 col-sm-offset-0 ">
            <br>
            <label for="RiskCategory" style="color:white;">Risk Category:</label>
            <select name="RiskCategory " id="RiskCategory " ng-model="category.model ">
        <option ng-repeat="option in category.availableOptions " value="{{option.name}} ">{{option.name}}</option>
                </select>
        </div>
        <br>
        <div class="form-group col-sm-5 col-sm-offset-1 ">
            <textarea ng-model="description" rows="6" cols="50"></textarea>
            <!-- <label for="RiskDescription" style="color:white;">Risk Description:</label>
                <input class="form-control " type="textarea" ng-model="description " placeholder="Write a Description "> -->
        </div>
        <br>
        <div class=" form-group col-sm-6 col-sm-offset-3" style="color:white;">
            <label for="SuggestedRiskMitigrationMeasure ">Suggested Risk Mitigration Measure:</label>
            <input class="form-control " type="text " ng-model="mitigration " placeholder="Write a Risk Mitgration Measure ">
        </div>
        <br>
        <br>
        <br>
        <button class="btn btn-warning " id="login " type="submit " name="button "><i class="fa fa-arrow-right " aria-hidden="true "></i></button>


    </form>
</div>
<div class="toforms">
    <row>
        <div class="col-sm-6 col-sm-offset-3">
            <button class="btn btn-warning" href="/forms" id="forms" ui-sref="forms" style="color:white;">Back to Forms</button>
        </div>
    </row>
</div>