<div class="login" ng-controller="loginCtrl">
    <div ng-controller="loginCtrl">
        <center>
            <h2>Sign Up</h2>
        </center>
        <form ng-submit="postSignUp(signUpEmail, password)" ng-controller="loginCtrl">
            <row>
                <div ng-hide="CorrectLogin" class="ng-hide">
                    <h1 style="color:red;">Please user your Professional Email from the Company!</h1>
                </div>
            </row>
            <row>
                <div class="col-sm-6 col-sm-offset-3">
                    <input class="form-control" type="email" ng-model="signUpEmail" placeholder="Email Address" />
                    <input class="form-control" type="password" ng-model="password" placeholder="Password" ng-require="true" />
                    <button class="btn btn-warning" id="login" type="submit" name="button"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
                </div>
            </row>
        </form>
    </div>

</div>
</div>