<div class="form-group row">
    <row>
        <div class="col-sm-6">
            <button class="btn btn-warning " href="/forms " id="forms " ui-sref="forms " style="color:white; ">Back to Forms</button>
        </div>
    </row>
</div>
<div class="Summary" ng-controller="summaryCtrl">
    <br>
    <center>
        <h1 id="welcome" style="color:White;">Summary of Cases</h1>
    </center>
    <br>
    <div class="container">
        <div class="User col-sm-12" ng-show="piechart" class="ng-show">
            <center>
                <graphic-directive></graphic-directive>
            </center>
        </div>
    </div>
    <center>
        <button ng-show="piechart == 'display' ? true : false" class="btn btn-success">Save</button>
    </center>
    <div class="container">
        <div class="User col-sm-12">
            <center>
                <reports-directive></reports-directive>
            </center>
        </div>
        <div class="Admin col-sm-12" ng-hide="Admistration" class="ng-hide">
            <center>
                <adminreport-directive></adminreport-directive>
            </center>
        </div>
    </div>
</div>