<div class="form-group row">
    <row>
        <div class="col-sm-6">
            <button class="btn btn-warning " href="/forms " id="forms " ui-sref="forms " style="color:white; ">Back to Forms</button>
        </div>
    </row>
</div>
<div class="Summary" ng-controller="summaryCtrl">
    <br>
    <center>
        <h1 id="welcome">Summary of Cases</h1>
    </center>
    <br>

    <div class="User col-sm-12">
        <center>
            <usersummaryreports-directive></usersummaryreports-directive>
        </center>
    </div>
    <div class="Admin col-sm-12" ng-hide="Admistration" class="ng-hide">
        <center>
            <admitsummaryreport-directive></admitsummaryreport-directive>
        </center>
    </div>
</div>