<div class="form-group row">
    <row>
        <div class="col-sm-6">
            <button class="btn btn-warning " href="/forms " id="forms " ui-sref="forms " style="color:white; ">Back to Forms</button>
        </div>
    </row>
</div>
<div class="Summary" ng-controller="summaryCtrl">
    <br>
    <center>
        <h1 id="welcome" style="color:White;">Summary of Cases</h1>
    </center>
    <br>
    <div class="container" ng-controller="graphicCtrl">
        <center>
            <button ng-click="piechart = !piechart; load()" class=" btn btn-success ">Pie Chart</button>
        </center>
        <div class="container ">
            <div class="User col-sm-12 " ng-show="piechart " class="ng-show ">
                <center>
                    <graphic-directive></graphic-directive>
                </center>
            </div>
        </div>
    </div>
    <center>
        <div class="container ">
            <div class="User col-sm-12 ">
                <center>
                    <reports-directive></reports-directive>
                </center>
            </div>
            <div class="Admin col-sm-12 " ng-hide="Admistration " class="ng-hide ">
                <center>
                    <adminreport-directive></adminreport-directive>
                </center>
            </div>
        </div>
    </center>
</div>